# Компилированные классы
*.class

# Логи
*.log

# Каталоги сборки
/build/
/target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Linux
*~

